<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wz.pilipili.video.mapper.VideoOperationMapper">

    <select id="getAllUserPreference" resultType="com.wz.pilipili.vo.user.UserPreference">
        select
            user_id,
            video_id,
            sum(case operation_type
                    when '0' then 6
                    when '1' then 2
                    when '2' then 2
                    when '3' then 2
                    else 0 end
            ) as `value`
        from
            t_video_operation
        group by user_id, video_id
    </select>

</mapper>
