<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wz.pilipili.video.mapper.VideoLikeMapper">

    <select id="getVideoLikesByVideoIds" parameterType= "java.util.Set" resultType="java.lang.Integer">
        select
            count(id)
        from
            t_video_like
        where
            video_id in
            <foreach collection="videoIds" item="videoId" open="(" close=")" separator=",">
                #{videoId}
            </foreach>
    </select>

</mapper>
